@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #464655;
    --color-primary-variant: #36454f;
    --color-secondary: #555546;
    --color-secondary-variant: #4E5546;
    --color-background: #FFFFFF;
    --color-surface: #FFFFFF;
    --color-on-primary: #000000;
    --color-on-secondary: #000000;
    --color-on-background: #000000;
    --color-on-surface: #000000;

    --color-success: var(--color-green-600);
    --color-alert: var(--color-yellow-600);
    --color-warning: var(--color-orange-600);
    --color-error: var(--color-red-600);


    --font-sans: Montserrat;
    --font-serif: Noto-Serif;
    --font-mono: Noto-Sans-Mono;
}